
<div id="menu">
<!-- １ボタンを配置 -->
<!-- １ボタンを配置 -->
<a href="#" id="メインメニューボタン" class="btn btn-flat"><span>メインメニュー</span></a>
<a href="#" id="アクティブ表示ボタン" class="btn btn-flat"><span>アクティブ表示ボタン</span></a>
<a href="#" id="キーワード表示ボタン" class="btn btn-flat"><span>キーワード表示ボタン</span></a>
<a href="#" id="全アクティブ削除ボタン" class="btn btn-flat"><span>アクティブをすべて削除</span></a>
<a href="#" id="全キーワード削除ボタン" class="btn btn-flat"><span>全キーワードをすべて削除</span></a>
  </div>

  <script src="../../renderers/gamenkirikae.js"></script>
  <script src="../../renderers/renderer.js"></script>